	
	*{
		box-sizing:border-box;
		padding:0;
		margin:0;
	}
	body{
		background-color:black;
		 

	}

    .overlay {
  		height: 100%;
  		width: 0;
  		position: fixed;
  		z-index: 1;
  		top: 0;
  		left: 0;
 		background-color: rgb(0,0,0);
  		background-color: rgba(0,0,0, 1);
  		overflow-x: hidden;
  		transition: 0.5s;
  		 			}

	.overlay-content {
 		position: relative;
  		top: 25%;
  		width: 100%;
  		text-align: center;
  		margin-top: 5px;
			}

	.overlay a {
  		padding: 8px;
  		text-decoration: none;
  		font-size: 36px;
  		color: #818181;
  		display: block;
  		transition: 0.3s;
  		font-family: 'Poppins', sans-serif;
			  }

	.overlay a:hover, .overlay a:focus {
  		color: #f1f1f1;
			}

	.overlay .closebtn {
  		position: absolute;
  		top: 20px;
 		right: 45px;
  		font-size: 60px;
				}
    .menuicon{
		font-size:30px;
		cursor:pointer;
		color:white;
		float:right;
		margin-right:4%;
		margin-top:2%;
        	}
    .namelogo{
    	color:white;
    	float:left;
    	font-weight:bold;
    	margin-top:2.2%;
    	margin-left:4%;
    	font-size:24px;
    	font-family: 'Poppins', sans-serif;
    }
    .head{
    	 
    	width:100%;
    	position:fixed;
    	 
         }
    .home-content{
    	display:inline-flex;
    	margin-top:20%;
    	width:100%;
    	 
                }
    
    .socialmedia-icons{
    	 
    	margin-left:4%;
    	float:left;
    	height:200px;
    	width:10%;
    	 

        
    	 
    	     }
    #icons{
    	color:white;
    	font-size:24px;
    	display:block;
    	margin-left:15%;
    	margin-top:12%;
    	 
    }
   
    .home-text{
    	width:40%;
    	text-align:center;
    	padding-top:0.5%;
    	position:absolute;
    	left:28%; 
    	  

    	       }
    	
   
    .fullname{
    	color:white;
    	text-align:center;
    	font-size:64px;
    	font-family: 'Poppins', sans-serif;
             }
    .firstname{
    	color:#e01b53;
    }
    
    .description{
    	margin-top:5%;
    	color:white;
    	font-size:30px;
    	font-family: 'Source Sans Pro', sans-serif;
    }
    
    .description1{
    	color:#e01b53; 
    	         }

    
    
    .home-img{
    	width:33.3%;
    	 }
    .image1{
    	position:relative;
        margin-top:-19%;
    	float:right;
    	left:57%;
    	height:680px;
    	width:390px;
    	z-index:-1;
    }
    .imagepic{
    	height:680px;
    	width:390px;
    }
     
    
    	 
                 

      


	@media screen and (max-height: 450px) {
  		.overlay a {font-size: 20px}
  		.overlay .closebtn {
  		font-size: 40px;
  		top: 15px;
  		right: 35px;
  			}
		}

    @media screen and (max-width : 500px) {
    	.fullname{
    		color:white;
    	    text-align:center;
    	    font-size:54px;
    	    font-family: 'Poppins', sans-serif;

    	}
    	 .image1{
    		position:relative;
       		margin-top:-19%;
    		float:right;
    		left:2%;
    		height:655px;
    		width:390px;
    		z-index:-1;
    }
         .home-text{
    		width:40%;
    		text-align:center;
    		padding-top:0.5%;
    		position:absolute;
    		left:28%; 
    		margin-top:20%;
    	   }
    	 .imagepic{
    		height:655px;
    		width:390px;
    				}
    	 #icons{
    	   color:darkgrey;
    	   font-size:30px;
    	   display:block;
    	   margin-left:20%;
    	   margin-top:14%;
    	 
    }
          .socialmedia-icons{
    	 
    	   margin-left:4%;
    	   float:left;
    	   height:300px;
    	   width:10%;
    	   margin-top:22.5%;
    	  }

        
    	 
    	    
     

    	       

    }


	